/* css variables*/
:root {
  --primary-color: #fefae0;
  --primary-color-light: #8E7474;
  --accent-color: #FE6A6B;
  --accent-color-light: #FFE4E4;
  --accent-color-dark: #B94B4C;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #444D56; 
  --bg-color: #F8F8FA;
  --nav-color: #495057;
  --code-bg-color: #F0E8E8;
}

/* normalized */

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  text-align: center;
  height: 100px;
  line-height: 90px;
  font-size: 24px;
  margin-left: 10%;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ced4da;
}

nav {
  background-color: var(--nav-color);
}

a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: var(--accent-color);
}

.link--light {
  color: var(--primary-color);
}

.link--dark {
  color: var(--accent-color);
}

/* menu */
nav {
  display: grid;
  grid-template-columns: 175px auto;
}

.menu {
  margin: 0;
  text-align: left;
  overflow: hidden;
  list-style: none;
}

.menu__item {
  padding: 2rem;
  display: inline-block;
  font-size: 20px;
  font-weight: 1000;
}

.menu__item.toggle {
  display: none;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
