/* normalized */

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  text-align: center;
  height: 100px;
  line-height: 90px;
  font-size: 24px;
  margin-left: 10%;
}

/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: var(--accent-color);
}

.linkLight {
  color: var(--primary-color);
}

.linkDark {
  color: var(--accent-color);
}

.menu {
  margin: 0;
  text-align: left;
  overflow: hidden;
  list-style: none;
}

.menu__item {
  padding: 2rem;
  display: inline-block;
  font-size: 20px;
  font-weight: 1000;
}

.menu__item.toggle {
  display: none;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
